extends layout

block content
  .card
    h1= title
    p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

    h2 Dynamic content

    .counts
      .count-item
        strong= book_count
        span.text-muted Books
      .count-item
        strong= book_instance_count
        span.text-muted Copies
      .count-item
        strong= book_instance_available_count
        span.text-muted Copies available
      .count-item
        strong= author_count
        span.text-muted Authors
      .count-item
        strong= genre_count
        span.text-muted Genres

    hr

    .grid
      .card
        h3 Explore
        ul
          li #[a(href='/catalog/books') View all books]
          li #[a(href='/catalog/authors') View all authors]
          li #[a(href='/catalog/genres') View all genres]
          li #[a(href='/catalog/bookinstances') View all book instances]

      .card
        h3 Management
        ul
          li #[a.btn.btn-primary(href='/catalog/book/create') Create book]
          li #[a.btn.btn-primary(href='/catalog/author/create') Create author]
          li #[a.btn.btn-primary(href='/catalog/genre/create') Create genre]
          li #[a.btn.btn-primary(href='/catalog/bookinstance/create') Create book copy]
